---
title: Getting Started Deploying Ruby Apps
owner: Buildpacks
---



This topic provides links to additional information about getting started deploying apps using the Ruby buildpack. See the following topics for deployment guides specific to your app language and framework:

* <a href="./gsg-ruby.html" class="subnav">Ruby</a>
* <a href="./gsg-ror.html" class="subnav">Ruby on Rails</a>