---
title: Getting started deploying Ruby Apps
owner: Buildpacks
---



You can use this additional information about getting started deploying apps with the Ruby buildpack.

See the following topics for deployment guides specific to your app language and framework:

* <a href="./gsg-ruby.html" class="subnav">Getting started deploying Ruby apps</a>
* <a href="./gsg-ror.html" class="subnav">Getting started deploying Ruby on Rails apps</a>