---
title: Workflow for Maintaining Buildpacks
owner: Buildpacks
---

<strong><%= modified_date %></strong>

These processes are how the Cloud Foundry Buildpacks team maintains the Cloud Foundry system buildpacks and how you can maintain your own buildpacks.

The following topics contain information that might be relevant to maintaining your buildpack:

* <a href="./merging_upstream.html" class="subnav">Merging from Upstream</a>
* <a href="./new_dependency_releases.html" class="subnav">New Dependency Releases</a>
