---
title: CF Buildpack Team CI
owner: Buildpacks
---

The Cloud Foundry (CF) Buildpacks team and other CF buildpack development teams use [Concourse continuous integration (Concourse CI)](http://concourse.ci) pipelines to integrate new buildpack releases. This topic provides links to information that describes how to release new versions of Cloud Foundry buildpacks using Concourse CI, and how to update Ruby gems used for CF buildpack development.

Each of the following are applicable to all supported buildpack languages and frameworks:

* <a href="./releasing_a_new_buildpack_version.html" class="subnav">Releasing a New Buildpack Version</a>
* <a href="./updating-buildpack-related-gems.html" class="subnav">Updating Buildpack-related Gems</a>