---
title: Buildpacks
owner: Buildpacks
---

Buildpacks provide framework and runtime support for apps. Buildpacks typically examine your apps to determine what dependencies to download and how to configure the apps to communicate with bound services.

When you push an app, Cloud Foundry automatically detects an appropriate buildpack for it. This buildpack is used to compile or prepare your app for launch.

<p class="note"><strong>Note:</strong> Cloud Foundry deployments often have limited access to dependencies. This limitation occurs when the deployment is behind a firewall, or when administrators want to use local mirrors and proxies. In these circumstances, Cloud Foundry provides a Buildpack Packager app. For more information, see the <a href="https://github.com/cloudfoundry/buildpack-packager">Buildpack Packager</a> repository on GitHub.</p>


## <a id='using-buildpacks'></a> Using Buildpacks

The following topics discuss different usage scenarios for buildpacks in Cloud Foundry:

* [How Buildpacks Work](understand-buildpacks.html)

* [Stack Association](stack-association.html)

* [Pushing an App with Multiple Buildpacks](use-multiple-buildpacks.html)

* [Using a Proxy](proxy-usage.html)

* [Supported Binary Dependencies](supported-binary-dependencies.html)

* [Production Server Configuration](prod-server.html)


## <a id='system-buildpacks'></a> System Buildpacks

For information about the existing buildpacks that Cloud Foundry supports, see [System Buildpacks](system-buildpacks.html).


## <a id='cnb-buildpacks'></a> CF-compatible CNBs

A Cloud Foundry-compatible Cloud Native Buildpack (CF-compatible CNB) is a bundled collection of CNBs.


CNBs are modular buildpacks.
Using CNBs to deploy apps leads to improved performance, informative logging, and easier
configuration as compared to Cloud Foundry-only buildpacks.
For general information about CNBs, see [What Are Buildpacks?](https://buildpacks.io/) in Buildpacks.io.

CF-compatible CNBs include a Compatibility Layer that allows the CNBs to run on Cloud Foundry.

## <a id='sidecar-buildpacks'></a> Sidecar Buildpacks

For information about deploying a sidecar buildpack, see [Sidecar Buildpack](sidecar-buildpacks.html).


## <a id='community-buildpacks'></a> Community Buildpacks

For a list of unsupported, community-created buildpacks, see the [Community created](https://github.com/cloudfoundry-community/cf-docs-contrib/wiki/Buildpacks#community-created) section of the _Buildpack information for Cloud Foundry v2_ page in the cf-docs-contrib repository on GitHub.


## <a id='developing-buildpacks'></a> Customizing and Developing Buildpacks

For information about customizing existing buildpacks and developing new buildpacks, see [Customizing and Developing Buildpacks](./developing-buildpacks.html).

### <a id='buildpack-ci'></a> Using Continuous Integration for Buildpacks

For information about updating and releasing a new version of a Cloud Foundry buildpack through the Cloud Foundry Buildpacks Team Concourse pipeline, see [Using CI for Buildpacks](./buildpack-ci-index.html). You can use this as a model when working with Concourse to build and release new versions of your own buildpacks.
