---
title: Buildpacks
---

Buildpacks are a convenient way of packaging framework and/or runtime support
for your application.
For example, by default Cloud Foundry does not support Python, or a Python
framework like Django. Using a buildpack for Python and Django would allow you
to add support for these at the deployment stage.

When an application written using one of these languages and frameworks is
pushed, the required buildpack is automatically installed on the Cloud Foundry
Droplet Execution Agent (DEA) where the application will run.

You can create [custom buildpacks](./custom.html) to add support for the
languages or frameworks of your choice.

## <a id='java'></a>Topics for Java Developers ##

* [Deploying Java applications](./java-tips.html)

## <a id='node'></a>Topics for Node.js Developers ##

* [Deploying Node.js applications](./node-tips.html)
* [Configure Service Connections for Node](node-service-bindings.html)

## <a id='ruby'></a>Topics for Ruby Developers  ##

* [Deploying Ruby applications](./ruby-tips.html)
* [Configure Service Connections for Ruby](ruby-service-bindings.html)

## <a id='grails'></a>Topics for Grails Developers ##

* [Configure Service Connections for Grails](grails-service-bindings.html)

## <a id='spring'></a>Topics for Spring Developers ##

* [Configure Service Connections for Spring](spring-service-bindings.html)

## <a id='play'></a>Topics for Play Developers ##

* [Configure Service Connections for Play](play-service-bindings.html)

