---
title: Buildpacks
---

Buildpacks are a convenient way of packaging framework and/or runtime support for your application. For example, by default Cloud Foundry does not support Python, or a Python framework like Django. Using a buildpack for Python and Django would allow you to add support for these at the deployment stage.

When an application written using one of these languages and frameworks is pushed, the required buildpack is automatically installed on the Cloud Foundry Droplet Execution Agent (DEA) where the application will run.


## <a id='further'></a>More About Buildpacks ##

You can create [custom buildpacks](./custom.html) to add support for the languages or frameworks of your choice.

## <a id='ruby'></a>Topics for Ruby Developers  ##

## <a id='node'></a>Topics for Node Developers ##

## <a id='java'></a>Topics for Java Developers ##

## <a id='further'></a>Topics for Developers ##

## <a id='further'></a>Topics for Developers ##