---
title: Merging From an Upstream Buildpack
owner: Buildpacks
---

<strong><%= modified_date %></strong>

<a id='merge-upstream'></a>

A common buildpack development practice is forking from existing buildpacks and syncing subsequent patches from upstream.

To merge upstream buildpack patches to your custom buildpack, please use the approach [outlined on Github](https://help.github.com/articles/syncing-a-fork).