---
title: Using a proxy server with Cloud Foundry buildpacks
owner: Buildpacks
---

You can use a proxy server with buildpacks for your application.

## <a id='proxy-usage'></a> Using a proxy server

You can assign proxy servers to environment variables. Proxy servers can be used to monitor your application's traffic or to fetch your application's dependencies.

A buildpack uses a proxy server if that buildpack contacts the internet during staging.

The binary buildpack does not use a proxy server because it does not access the internet during staging.

## <a id='env-variable'></a> Setting environment variables

If you are using a Java buildpack, the <code>http_proxy</code> and <code>https_proxy</code> environment variables are not supported at runtime. The Java buildpack does not add the functionality to make proxies work at runtime.

To set your environment variables:

1. Add the following to the `env` block of your application manifest YAML file:

    ```yaml
    ---
    env:
      http_proxy: http://YOUR-HTTP-PROXY:PORT
      https_proxy: https://YOUR-HTTPS-PROXY:PORT
    ```

    Where:
    <ul>
      <li><code>YOUR-HTTP-PROXY</code> is the address of your proxy server for HTTP requests.</li>
      <li><code>YOUR-HTTPS-PROXY</code> is the address of your proxy server for HTTPS requests.</li>
      <li><code>PORT</code> is the port number you are using for your proxy server.</li>
    </ul>

2. Set the environment variables with the Tanzu cf CLI `cf set-env` command:


    ```console
    cf set-env YOUR-APP http_proxy "http://YOUR-HTTP-PROXY:PORT"
    ```

    ```console
    cf set-env YOUR-APP https_proxy "https://YOUR-HTTPS-PROXY:PORT"
    ```

    Where:
    <ul>
      <li><code>YOUR-APP</code> is the name of your application.</li>
      <li><code>YOUR-HTTP-PROXY</code> is the address of your proxy server for HTTP requests.</li>
      <li><code>YOUR-HTTPS-PROXY</code> is the address of your proxy server for HTTPS requests.</li>
      <li><code>PORT</code> is the port number you are using for your proxy server.</li>
    </ul>

## <a id='unset-env-variable'></a> Un-setting environment variables

Removing an environment variable from the application manifest YAML file is not sufficient to unset the environment variable.

You must also unset the environment variables with the Tanzu cf CLI `cf unset-env` command:

```console
cf unset-env YOUR-APP ENV_VAR_NAME
```

For example:

```console
cf unset-env YOUR-APP https_proxy
```

Where:
<ul>
  <li><code>YOUR-APP</code> is the name of your application.</li>
  <li><code>ENV_VAR_NAME</code> is the name of the environment variable.</li>
</ul>
