---
title: System Buildpacks
owner: Buildpacks
---

This topic describes the existing system buildpacks that Cloud Foundry supports.

Cloud Foundry includes a set of system buildpacks for common languages and frameworks.
This table lists the system buildpacks.

<table border="1" class="nice" >
  <tr>
    <th>Name</th>
    <th>Supported Languages, Frameworks, and Technologies</th>
    <th>GitHub Repository</th>
  </tr>
  <tr>
    <td><a href="./binary/index.html" class="subnav">Binary</a></td>
    <td><p><i>n/a</i></p></td>
    <td><a href="https://github.com/cloudfoundry/binary-buildpack">Binary source</a></td>
  </tr>
  <tr>
    <td><a href="./go/index.html" class="subnav">Go</a></td>
    <td><p>Go</p></td>
    <td><a href="https://github.com/cloudfoundry/go-buildpack">Go source</a></td>
  </tr>
  <tr>
    <td><a href="./hwc/index.html" class="subnav">HWC</a></td>
    <td><p>HWC</p></td>
    <td><a href="https://github.com/cloudfoundry-incubator/hwc">HWC source</a></td>
  </tr>
  <tr>
    <td><a href="./java/index.html" class="subnav">Java</a></td>
    <td><p>Grails, Play, Spring, or any other JVM-based language or framework</p></td>
    <td><a href="https://github.com/cloudfoundry/java-buildpack">Java source</a></td>
  </tr>
  <tr>
    <td><a href="./dotnet-core/index.html" class="subnav">.NET Core</a></td>
    <td><p>.NET Core</p></td>
    <td><a href="https://github.com/cloudfoundry/dotnet-core-buildpack/">.NET Core source</a></td>
  </tr>
  <tr>
    <td><a href="./nginx/index.html" class="subnav">NGINX</a><%=vars.footnote_asterisk%></td>
    <td><p>NGINX</p></td>
    <td><a href="https://github.com/cloudfoundry/nginx-buildpack">NGINX source</a></td>
  </tr>
  <tr>
    <td><a href="./node/index.html" class="subnav">Node.js</a></td>
    <td><p>Node or JavaScript</p></td>
    <td><a href="https://github.com/cloudfoundry/nodejs-buildpack">Node.js source</a></td>
  </tr>
  <tr>
    <td><a href="./php/index.html" class="subnav">PHP</a></td>
    <td><p>Cake, Symfony, Zend, NGINX, or HTTPD</p></td>
    <td><a href="https://github.com/cloudfoundry/php-buildpack">PHP source</a></td>
  </tr>
  <tr>
    <td><a href="./python/index.html" class="subnav">Python</a></td>
    <td><p>Django or Flask</p></td>
    <td><a href="https://github.com/cloudfoundry/python-buildpack">Python source</a></td>
  </tr>
  <tr>
    <td><a href="./r/index.html" class="subnav">R</a><%=vars.footnote_asterisk%></td>
    <td><p>R</p></td>
    <td><a href="https://github.com/cloudfoundry/r-buildpack">R source</a></td>
  </tr>
  <tr>
    <td><a href="./ruby/index.html" class="subnav">Ruby</a></td>
    <td><p>Ruby, JRuby, Rack, Rails, or Sinatra</p></td>
    <td><a href="https://github.com/cloudfoundry/ruby-buildpack">Ruby source</a></td>
  </tr>
  <tr>
    <td><a href="./staticfile/index.html" class="subnav">Staticfile</a></td>
    <td><p>HTML, CSS, JavaScript, or NGINX</p></td>
    <td><a href="https://github.com/cloudfoundry/staticfile-buildpack">Staticfile source</a></td>
  </tr>
</table>
*<%= vars.buildpack_distribution_footnote %>
