---
title: Pushing an Application with Multiple Buildpacks
owner: Buildpacks
---

<strong><%= modified_date %></strong>

This topic describes how developers can push an application with multiple buildpacks.

For more information about pushing applications to Cloud Foundry, see the [Deploy an Application](../devguide/deploy-apps/deploy-app.html) topic.

##<a id='cfcli'></a> Specifying Buildpacks with the cf CLI

To push an application with multiple buildpacks using the Cloud Foundry Command Line Interface (cf CLI), perform the following procedure:

1. Ensure you are using the cf CLI v6.32.0+:
	<pre class="terminal">$ cf version
	cf version 6.32.0+0191c33d9.2017-09-26
	</pre>
	For more information about upgrading the cf CLI, see the [Installing the cf CLI](../cf-cli/install-go-cli.html)
1. Push the application with the binary buildpack with the `--no-start` flag:
	<pre class="terminal">$ cf push YOUR-APP --no-start -b binary_buildpack</pre>
1. Upgrade the application to multiple buildpacks, and specify the buildpacks:
	<pre class="terminal">
	$ cf v3-push YOUR-APP -b BUILDPACK-NAME-1 -b BUILDPACK-NAME-2
	</pre>
	To see a list of available buildpacks, run `cf buildpacks`.

If you are using an application manifest, you cannot include the `buildpack` key or future pushes will not function properly. 

For more information about using the cf CLI, see the [Cloud Foundry Command Line Interface](../cf-cli/index.html) topic.
