---
title: Pushing an app with multiple buildpacks
owner: Buildpacks
---

You can push an app with multiple buildpacks using the Cloud Foundry Command Line Interface (cf CLI).

<p class="note"><strong>Note:</strong> As an alternative to the cf CLI procedure, you can specify multiple
buildpacks in your app manifest. This is not compatible with deprecated app manifest features.
For more information, see <a href="../devguide/deploy-apps/manifest.html">Deploying with App Manifests</a>.</p>

For more information about pushing apps, see [Pushing an App](../devguide/deploy-apps/deploy-app.html).


## <a id='cfcli'></a> Specifying buildpacks with the cf CLI

To push an app with multiple buildpacks using the cf CLI:

<p class="note"><strong>Note:</strong> You must use cf CLI v6.38 or later.</p>

1. Ensure that you are using the cf CLI v6.38 or later by running:

    ```console
    cf version
    ```
    For more information about upgrading the cf CLI, see [Installing the cf CLI](../cf-cli/install-go-cli.html).

1. To push your app with multiple buildpacks, specify each buildpack with a `-b` flag by running:

    ```console
    cf push YOUR-APP -b BUILDPACK-NAME-1 -b BUILDPACK-NAME-2 ... -b BUILDPACK-NAME-3
    ```

    Where:
    <ul>
      <li><code>YOUR-APP</code> is the name of your app.</li>
      <li><code>BUILDPACK-NAME-1</code>, <code>BUILDPACK-NAME-2</code>, and <code>BUILDPACK-NAME-3</code> are the names of the buildpacks you want to push with your app.</li>
    </ul>

    The last buildpack you specify is the **final buildpack**, which modifies the launch environment and sets the start command.
    <br>

    To see a list of available buildpacks, run:

    ```console
    cf buildpacks
    ```

For more information on multi buildpack order, see [How buildpacks work](understand-buildpacks.html).

For more information about using the cf CLI, see [Using the cf CLI Cloud Foundry command line interface](../cf-cli/index.html).
