---
title: Pushing an Application with Multiple Buildpacks
owner: Buildpacks
---

<strong><%= modified_date %></strong>

This topic describes how developers can push an application with multiple buildpacks.

For more information about pushing applications to <%= vars.product_full %>, see the [Deploy an Application](../devguide/deploy-apps/deploy-app.html) topic.

##<a id='cfcli'></a> Specifying Buildpacks with the cf CLI

To push an application with multiple buildpacks using the Cloud Foundry Command Line Interface (cf CLI), perform the following procedure:

1. Run the following command to ensure that you are using the cf CLI v6.38 or later:
  <pre class="terminal">$ cf version
  </pre>
  For more information about upgrading the cf CLI, see [Installing the cf CLI](../cf-cli/install-go-cli.html).
1. Push the application with the binary buildpack with the `--no-start` flag:
  <pre class="terminal">$ cf push YOUR-APP --no-start -b binary_buildpack</pre>
  This command pushes the application but does not start it.
1. Upgrade the application to multiple buildpacks, and specify the buildpacks:
  <pre class="terminal">
  $ cf push YOUR-APP -b BUILDPACK-NAME-1 -b BUILDPACK-NAME-2
  </pre>
  This command changes the buildpack and starts the application. To see a list of available buildpacks, run `cf buildpacks`.

For more information about using the cf CLI, see the [Cloud Foundry Command Line Interface](../cf-cli/index.html) topic.
