---
title: HWC Buildpack
owner: Buildpacks
---

<strong><%= modified_date %></strong>

## <a id='overview'></a> Overview

This topic describes how to configure your .NET application for use with the
HWC buildpack and how to push your .NET application to Cloud Foundry.
HWC is a wrapper around [Hosted Web Core API](https://msdn.microsoft.com/en-us/library/ms693832(v=vs.90).aspx)
for running .NET apps on Windows.

### <a id='hwc'></a>HWC Setup

HWC relies on `Web.config` configuration for hosting the .NET apps.

### <a id='push-your-app'></a> Push Your App ###

Follow the steps below to push your application.

<table border='1' class='nice'>
<tr>
<th>Step</th>
<th>Action</th>
</tr>
<tr valign="top">
  <td>1.</td>
  <td>Run the command <code>cf push APP_NAME</code> to push your app, replacing <code>APP_NAME</code> with the name you want to give your app. For example:<br>
<pre class='terminal'>
$ cf push my-app
Creating app my-app in org sample-org / space sample-space as username@example.com...
OK
…
requested state: started
instances: 1/1
usage: 1GB x 1 instances
urls: my-app.example.com
</pre>
   If you do not have the buildpack, or the installed version is out-of-date, use the <code>-b</code> option to specify the buildpack as follows:<br>
<code>cf push APP_NAME -b https://github.com/cloudfoundry/hwc-buildpack.git</code>
  </td>
</tr>
<tr valign="top">
  <td>2.</td>
  <td>Find the URL of your app in the output from the <code>push command</code> and navigate to it to see your HWC app running.</td>
</tr>
</table>

### <a id='features'></a> Features ###

The HWS buildpack supports context path routing and a Shadow Copy option, as described below.

#### <a id='context-path'></a> Context Path Routing

HWC-hosted apps use the `VCAP_APPLICATION` environment variable
to read out the bound app URIs. Any context path that exists underneath the root in the
app's bound route corresponds to the `applicationHost.config`.

Run the following commands to define context path routing that makes `app2` accessible under `app1`'s URL. e.g `app1.example.com/app2`:

<pre class='terminal'>
$ cf push app1 #find the URL for your app1
$ cf push app2 --no-start --no-route
$ cf map-route app2 example.com --hostname app1 --path app2
$ cf start app2
</pre>

#### <a id='shadow-copy'></a> Shadow Copy Setting

[Shadow Copy](https://msdn.microsoft.com/en-us/library/ms228159(v=vs.100).aspx)
is a hosting option that copies assemblies for an app in the `bin` directory
to the app's temporary files directory. This features is turned off and
unnecessary for apps running under Cloud Foundry. An app can override this
setting in its `web.config` file.


## <a id='help'></a>Buildpack Support

For help using the HWC buildpack or with developing your own HWC buildpack, see the following resources: 

* **HWC Buildpack Repository in Github**: Find more information about using and extending the HWC buildpack in [GitHub repository](https://github.com/cloudfoundry/hwc-buildpack).

* **Release Notes**: Find current information about this buildpack on the HWC buildpack [release page](https://github.com/cloudfoundry/hwc-buildpack/releases) in GitHub.

* **Slack**: Join the #buildpacks channel in the [Cloud Foundry Slack community](http://slack.cloudfoundry.org/).
