---
title: Creating an Extension Buildpack for ASP.NET Apps
owner: Buildpacks
---

This topic explains how to write a Web Config Transform Extension Buildpack for ASP.NET apps.  

## <a id='prerequisites'></a>Prerequisites

* Linux or MacOS development machine or VM
* [golang](https://golang.org/) v1.10 or later programming language
* [direnv](https://direnv.net/) environment variable manager for your shell


## <a id='overview'></a> Overview

To run legacy ASP.Net applications configuration settings are typically injected through Web.config files. 
As per cloud-native principles, an app's build artifacts should not include configuration settings.  

The Web Config Transform Extension Buildpack injects environment-specific appSettings and connectionString values 
into legacy ASP.Net app containers by performing token replacements during `cf push` staging.

To create a Web Config Transform Extension Buildpack, complete the following procedures:  

1. [Identify Environment Dependent Configurations and Externalize](#tokenize)
1. [Create a Parameterized Cloud Foundry App Manifest](#create-manifest)
1. [Move Config Settings to Spring Cloud Config Server](#move-to-spring-cloud) 
1. [Create a Config Service for Spring Cloud Config Server](#create-spring-cloud-service)
1. [Bind the Config Service to Your App Using Your Manifest](#bind-service)
1. [Parameterize the Manifest Environment Name](#parameterize)
1. [Push the App](#push-app)

For additional information about extension buildpack configuration and creation commands see: 
[Creating a Custom Buildpack](http://engineering.pivotal.io/post/creating-a-custom-buildpack/) 
in the _Pivotal Engineering Journal_.

<p class='note'><strong>Note:</strong> The Web Config Transform Extension Buildpack can inject settings 
regardless of whether the replacement tokens are present in Web.Release.Config file.
</p>

## <a id='tokenize'></a> Identify Environment Dependent Configurations and Externalize

To externalize your workload's environment dependent configurations settings, complete the following steps:  

1. Backup your workload's `Web.config` and `Web.Release.config` files.  
1. Review the `Web.config` and `Web.Release.config` files, 
identifying the environment-specific configuration settings.  
<br>
    For example, the `connectionString` properties in the sample files below are environment-specific:  
<br>
    **Web.Config**

    ```xml
    <connectionStrings>
        <add name="MyDB" 
             connectionString="Data Source=LocalSQLServer;Initial Catalog=MyReleaseDB;User ID=serviceacc3;Password=PaKsAsEwWoOrOdT3" />
    </connectionStrings>
    ```

    **Web.Release.config**

    ```xml
    <connectionStrings>
        <add name="MyDB" 
             connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;User ID=serviceacc3;Password=PaKsAsEwWoOrOdT3" 
             xdt:Transform="SetAttributes" 
             xdt:Locator="Match(name)"/>
    </connectionStrings>
    ```

    <p class='note'><strong>Note:</strong> Web and WCF apps are created with <strong>Debug</strong> and <strong>Release</strong> configurations 
    of the <code>Web.Debug.config</code>, and <code>Web.Release.config</code> web config transformation files. 
    When debugging on a developer machine, transform the <code>Debug</code> <code>Web.Debug.config</code> file and use the <code>Debug</code> configuration profile.
    </p> 

1. To externalize your `Web.config` and `Web.Release.config` files, tokenize each of the files' 
environment-specific properties using the format `#{configPath:key}`.  
<br>
    For example:  
<br>
    **Web.Config**

    ```xml
    <connectionStrings>
        <add name="MyDB" 
             connectionString="#{connectionStrings:MyDB}"  />
    </connectionStrings>
    ```

    **Web.Release.config**

    ```xml
    <?xml version="1.0" encoding="utf-8"?>
    <!-- For Cloud Foundry -->
    <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
      <connectionStrings  xdt:Transform="Replace">
        <add name="MyDB" connectionString="#{connectionStrings:MyDB}" providerName="System.Data.SqlClient"/>
      </connectionStrings>
  
      <system.serviceModel>
        <client xdt:Transform="Replace">
      
          <endpoint 
            address="#{client:Default_IMyLogService:address}" 
            binding="#{client:Default_IMyLogService:binding}" 
            bindingConfiguration="#{client:Default_IMyLogService:bindingConfiguration}"
            contract="ServiceProxy.IMyLogService" name="Default_IMyLogService" />
    
        </client>
      </system.serviceModel>

    </configuration>
    ```

    <p class='note'><strong>Note:</strong> Transform xml attributes and tokens are case-sensitive.</p>

## <a id='create-manifest'></a> Create a Parameterized Cloud Foundry App Manifest 

A Cloud Foundry app manifest is required for the extension buildpack to perform token replacements during `cf push`.  

### <a id='create-manifest'></a> Create a Cloud Foundry App Manifest  

To create a Cloud Foundry app manifest for your workload, complete the following steps:  

1. Ensure your application has a Cloud Foundry manifest file. 
If the manifest file does not exist create it.  
<br>
    If your application is in Cloud Foundry, you can create the manifest file 
    by running the following command:  

    ```
    cf create-app-manifest APP-NAME
    ```

    Where `APP-NAME` is your app's name.

### <a id='modify-manifest'></a> Modify Your Cloud Foundry App Manifest  

To modify your workload's Cloud Foundry app manifest to perform token 
replacements during `cf push`, complete the following steps:  

1. Review [web-config-transform-buildpack](https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases">web-config-transform-buildpack) 
    in GitHub to determine the Web Config Transform Buildpack version to pull.  

1. Open the manifest file in a text editor.

1. Add a reference for your chosen Web Config Transform Buildpack buildpack version to the manifest file's `buildpacks` 
property. 

    <p class='note'><strong>Note:</strong> Ensure the new entry precedes the existing 
      <code>hwc_buildpack</code> buildpacks entry. The <code>hwc_buildpack</code> entry is the step
      performing token replacement on <code>cf push</code> action.
    </p>

  

1. Add an environment variable to the manifest for each config item requiring replacement with tokenized values.  

    ```yaml
    applications:
    - name: APP-NAME
      stack: windows
      buildpacks:
      - https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases/download/VERSION/web-config-transform-buildpack-VERSION.zip
      - hwc_buildpack
      env:
        "SETTING-NAME": "SETTING-VALUE"
    ```

    Where:  
    * `APP-NAME` is your app's name.  
    * `VERSION` is the buildpack version.   
    * `SETTING-NAME` is the name of a configuration setting used by your app. Create as many NAME : "VALUE" pair lines as are needed by your app.  
    * `SETTING-VALUE` is the development value of the setting. Create as many NAME : "VALUE" pair lines as are needed by your app.  

    For example:

    ```yaml
    applications:
    - name: sampleapp
      stack: windows
      buildpacks:
      - https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases/download/v1.1.5/web-config-transform-buildpack-v1.1.5.zip
      - hwc_buildpack
      env:
        "connectionStrings:MyDB": "Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;User ID=serviceacc3;Password=PaKsAsEwWoOrOdT3"
    ```

    <p class='note'><strong>Note:</strong> Adding token replacements with Environment variables is only for experimental activities. 
    The manifest should contain configuration item keys and values for testing purposes only. 
    Configuration settings should be externalized using git repositories and Spring Cloud Config Server.  
    For more information about externalizing configuration settings in Spring Cloud Config Server, 
    see <a href="#move-to-spring-cloud">Move Configuration Settings to Spring Cloud Config Server</a>, below.
    </p>

### <a id='test-push'></a> Validation Test the App

1. To verify your config settings are properly transformed by 
building and pushing your app to Cloud Foundry, run the following command:   

    ```script
    cf push
    ```

## <a id='move-to-spring-cloud'></a> Move Configuration Settings to Spring Cloud Config Server 

A multi-environment, production-ready configuration can be achieved using Spring Cloud Config Server 
backed by environment-specific transforms anda git repository data source.

1. Determine your manifest file's `ASPNETCORE_ENVIRONMENT` environment variable value.  
1. Create a network accessible git repository for each application.  
1. Create a `YOUR-APPLICATION`.yaml file to have common settings across all environments.  
1. Create a `YOUR-APPLICATION`-`APP-ENVIRONMENT`.yaml for each unique environment, 
where `APP-ENVIRONMENT` is the `ASPNETCORE_ENVIRONMENT` environment variable value.  

##### Sample Config Server yml files

**sampleapp.yaml**  

```yaml
appSettings:
  Setting1: "Common setting1"
```

**sampleapp-Development.yaml**  

```yaml
 connectionStrings:
   MyDB: "Data Source=devserver;Initial Catalog=mydb;User ID=serviceacc3;Password=PaKsAsEwWoOrOdT3"
```

**sampleapp-Production.yaml**  

```yaml
 connectionStrings:
   MyDB: "Data Source=prodserver;Initial Catalog=mydb;User ID=serviceacc3;Password=PaKsAsEwWoOrOdT3"
```

## <a id='create-spring-cloud-service'></a> Create a Configuration Service for Spring Cloud Config Server

The Web Config Transform Extension Buildpack requires a configuration file pointing to your GitHub repository. 
To provide this, create a JSON file pointing to your GitHub repository and start a config server service.

1. To confirm you have either `p.config-server` or `p-config-server` config servers available 
in your CF Marketplace, run the following command:  

    ```
    cf marketplace
    ```

1. Create a text file for configuration server setup using the following format:  

    ```json
    {
        "git" : { 
            "uri": "https://github.com/ACCOUNT-ID/CONFIG-REPO"
        }

    }
    ```

    Where:  
    * `ACCOUNT-ID` is the is the github account ID.  
    * `CONFIG-REPO` is your github configuration repository.   

1. Save the text file as a JSON file, for example `config-server.json`.  

   <p class='note'><strong>Note:</strong> Ensure file is not BOM-encoded.</p>
    
1. To create a config server using your configuration file, run the following command:  

    ```script
    cf create-service CONFIG-SERVER-MARKET standard SERVER-NAME  -c .\CONFIG-FILE
    ```

    Where:  
    * `CONFIG-SERVER-MARKET` is the name of the config server available in your CF Marketplace.
    * `SERVER-NAME` is the name for your config server.  
    * `CONFIG-FILE` is the filename of your server config json file.  

## <a id='bind-service'></a> Bind the Config Service to Your App Using Your Manifest

The newly created config server must be bound to your app to be used by the app.

1. To bind your config server to your app, add a new `services` section to your config server manifest file using the following format

    ```yaml
    applications:
    - name: APP-NAME
      stack: windows
      buildpacks:
      - https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases/download/VERSION/web-config-transform-buildpack-VERSION.zip
      - hwc_buildpack
      env:
        "SETTING-NAME": "SETTING-VALUE"

      services:
      - SERVER-NAME     
    ```

    Where:  
    * `APP-NAME` is your app's name.  
    * `VERSION` is the buildpack version.  
    * `SETTING-NAME` is the name of a configuration setting used by your app. Create as many NAME : "VALUE" pair lines as are needed by your app.  
    * `SETTING-VALUE` is the development value of the setting. Create as many NAME : "VALUE" pair lines as are needed by your app.   
    
    For example:

    ```yaml
    ---
    applications:
    - name: sampleapp
      stack: windows
      buildpacks: 
        - https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases/download/v1.1.5/Pivotal.Web.Config.Transform.Buildpack-win-x64-1.1.5.zip
        - hwc_buildpack
      env:
        "connectionStrings:MyDB": "Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;User ID=serviceacc3;Password=PaKsAsEwWoOrOdT3"

      services:
      - my_configserver
    ```

## <a id='parameterize'></a> Parameterize the Manifest Environment Name

Parameterizing your application environment settings gives you the ability to provide 
different environment configuration values for each deployment stage along your CD pipeline.   

The Web Config Transform Extension Buildpack injects externalized Web.config  
appSettings and connectionString values into your container.  

To parameterize your manifest:

1. [Create Parameter Value Files](#parameter-value-files)
1. [Parameterize the Manifest File](#parameterize-manifest)

### <a id='parameter-value-files'></a> Create Parameter Value Files  

Your externalized Web.config files are stored in your gitHub repository as YAML files.  

<p class='note'><strong>Note:</strong> Name your externalized Web.config YAML files to reflect their purpose, 
  such as <code>YOUR-APP-NAME.Development.yml</code>, <code>YOUR-APP-NAME.QA.yml</code>, 
  <code>YOUR-APP-NAME.UAT.yml</code>, or <code>YOUR-APP-NAME.Production.yml</code>.  
</p>

* To externalize development appSettings and connectionString values, complete the following steps:  
    1. Create a new YAML config file named `YOUR-APP-NAME.Development.yml`.
    1. Modify the file with the following content:  

        ```yaml
        appSettings:
          SETTING-NAME: "SETTING-VALUE"
          SETTING-NAME: "SETTING-VALUE"
         connectionStrings:
           MyDB: "Data Source=SERVER-NAME;Initial Catalog=DB-NAME;User ID=ACCOUNT-ID;Password=PASSWORD"
        ```

        Where:  
        * `SETTING-NAME` is the name of a setting used by your app. Create as many NAME : "VALUE" pair lines as are needed by your app.  
        * `SETTING-VALUE` is the development value of the setting. Create as many NAME : "VALUE" pair lines as are needed by your app.  
        * `SERVER-NAME` is the name for your development database server.  
        * `DB-NAME` is the name for your development database.  
        * `ACCOUNT-ID` is the is the development service account name.  
        * `PASSWORD` is the development service account password.  
    1. Copy the `YOUR-APP-NAME.Development.yml` externalized configuration file to your GitHub repository.  

    
* To externalize production appSettings and connectionString values, complete the following steps:  
    1. Create a new YAML config file named `YOUR-APP-NAME.Production.yml`.
    1. Modify the file with the following content:  

        ```yaml
        appSettings:
          SETTING-NAME: "SETTING-VALUE"
          SETTING-NAME: "SETTING-VALUE"
         connectionStrings:
           MyDB: "Data Source=SERVER-NAME;Initial Catalog=DB-NAME;User ID=ACCOUNT-ID;Password=PASSWORD"
        ```

        Where:  
        * `SETTING-NAME` is the name of a setting used by your app. Create as many NAME : "VALUE" pair lines as are needed by your app.  
        * `SETTING-VALUE` is the production value of the setting. Create as many NAME : "VALUE" pair lines as are needed by your app.  
        * `SERVER-NAME` is the name for your production database server.  
        * `DB-NAME` is the name for your production database.  
        * `ACCOUNT-ID` is the is the production service account name.  
        * `PASSWORD` is the production service account password.  
    1. Copy the `YOUR-APP-NAME.Production.yml` externalized configuration file to your GitHub repository.  

### <a id='parameterize-manifest'></a> Parameterize the Manifest File

Your manifest file must be modified to read values from your externalized gitHub repository values.

1. To parameterize your environment string, replace your manifest's hardcoded `env` value with `ASPNETCORE_ENVIRONMENT: ((env))` as follows:  
    
    ```yaml
    applications:
    - name: sampleapp
      stack: windows
      buildpacks:
      - https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases/download/VERSION/web-config-transform-buildpack-VERSION.zip
      - hwc_buildpack
      env:
        ASPNETCORE_ENVIRONMENT: ((env))  

      services:
      - SERVER-NAME     
    ```

    Where:  
    * `VERSION` is the buildpack version.  
    * `SERVER-NAME` is the name for your config server. 
    
    For example:

    ```yaml
    ---
    applications:
    - name: sampleapp
      stack: windows
      buildpacks: 
        - https://github.com/cloudfoundry-community/web-config-transform-buildpack/releases/download/v1.1.5/Pivotal.Web.Config.Transform.Buildpack-win-x64-1.1.5.zip
        - hwc_buildpack
      env:
        ASPNETCORE_ENVIRONMENT: ((env))

      services:
      - my_configserver
    ```

## <a id='push-app'></a> Push the App

You can now push your app using your parameterized configuration.

1. To push your app, run the following command:  

    ```script
    cf push --var env=CD-STEP
    ```
<br>
    Where `CD-STEP` is the suffix used on your Web.config external settings YAML file's filename, such as `Development`, `QA`, `UAT`, or `Production`.  
<br>
    For example:  

    ```script
    cf push --var env=Production
    ```

1. To confirm your app runs using your WebConfig Transform, 
review your logs for `WebConfig Transform Buildpack execution`:   

    ```
    ================================================================================
    =============== WebConfig Transform Buildpack execution started ================
    ================================================================================
    -----> Using Environment: Production
    -----> Config server binding found...
    ```


## <a id='trouble'></a> Troubleshooting

For any issues you face with the web-config-transform-buildpack, 
please raise an issue at [Issues](https://github.com/cloudfoundry-community/web-config-transform-buildpack/issues) in the _Web Config Transform Buildpack_ GitHub repository.

**QUESTION: THERE ISN'T A SAMPLE HERE**
A sample web application and walkthrough can be found [here](https://github.com/cloudfoundry-community/web-config-transform-buildpack/blob/master/README.md)


