---
title: Configuring Service Connections
owner: Java
---



This topic provides links to additional information about configuring service connections for Java apps. See the specific documentation for your app framework:

* <a href="./grails-service-bindings.html" class="subnav">Grails</a>
* <a href="./play-service-bindings.html" class="subnav">Play</a>
* <a href="./spring-service-bindings.html" class="subnav">Spring</a>