---
title: Deploying different types of Ruby apps
owner: Buildpacks
---



When deploying apps with the Ruby buildpack, see the deployment guides specific to your app language and framework:

* <a href="./gsg-ruby.html" class="subnav">Deploying Ruby apps</a>.
* <a href="./gsg-ror.html" class="subnav">Deploying Ruby on Rails apps</a>.
