---
title: BOSH Custom Trusted Certificate Support
owner: Java
---

<strong><%= modified_date %></strong>

## <a id='BOSH Configured Custom Trusted Certificate Support'></a>BOSH Configured Custom Trusted Certificate Support ##

[BOSH configured custom trusted certificates](http://bosh.io/docs/trusted-certs.html) is supported by Java Buildpack version => 3.7. To enable:  
Run: `cf set-env <APP> JBP_CONFIG_CONTAINER_CERTIFICATE_TRUST_STORE '{enabled: true}'`
or
Modify the buildpack by changing: https://github.com/cloudfoundry/java-buildpack/blob/master/config/container_certificate_trust_store.yml#L18 to true

For more information see the official [Java Buildpack documentation](https://github.com/cloudfoundry/java-buildpack/blob/master/docs/framework-container_certificate_trust_store.md) for this feature
