---
title: Java Buildpack
owner: Java
---

<strong><%= modified_date %></strong>

Use the Java buildpack with applications written in Grails, Play, Spring, or any
other JVM-based language or framework.

See the following topics:

* <a href="./gsg-grails.html" class="subnav">Getting Started Deploying Grails Apps</a>
* <a href="./gsg-ratpack.html" class="subnav">Getting Started Deploying Ratpack Apps</a>
* <a href="./gsg-spring.html" class="subnav">Getting Started Deploying Spring Apps</a>
* <a href="./java-tips.html" class="subnav">Tips for Java Developers</a>
* <a href="./grails-service-bindings.html" class="subnav">Configure Service Connections for Grails</a>
* <a href="./play-service-bindings.html" class="subnav">Configure Service Connections for Play</a>
* <a href="./spring-service-bindings.html" class="subnav">Configure Service Connections for Spring</a>
* <a href="./sts.html" class="subnav">Cloud Foundry Eclipse Plugin</a>
* <a href="./java-client.html" class="subnav">Cloud Foundry Java Client Library</a>
* <a href="./build-tool-int.html" class="subnav">Build Tool Integration</a>
* <a href="./bosh_custom_trusted_certs.html" class="subnav">BOSH Configured Custom Trusted Certificate Support</a>

You can find the source for the buildpack on GitHub:
[https://github.com/cloudfoundry/java-buildpack](https://github.com/cloudfoundry/java-buildpack)

## Buildpack Logging and Application Logging ##

The buildpack only runs during the staging process, and therefore only logs
staging information such as the downloaded components, configuration data, and work performed on your application by the buildpack.

The Java buildpack source documentation states the following:

* The Java buildpack logs all messages, regardless of severity, to
`APP-DIRECTORY/.java-buildpack.log`. The buildpack also logs messages to `$stderr`, filtered by a configured severity level.

* If the buildpack fails with an exception, the exception message is logged with
a log level of `ERROR`. The exception stack trace is logged with a log
level of `DEBUG`. This prevents users from seeing stack traces by default.

Once staging completes, the buildpack stops logging. The Loggregator handles application logging. 

Your application must write to STDOUT or STDERR for its logs to be included in
the Loggregator stream. For more information, see the [Application Logging in Cloud Foundry](../../devguide/deploy-apps/streaming-logs.html) topic.
