---
title: Java buildpack
owner: Java
---

You can use the Java buildpack with apps written in Grails, Play, Spring, Spring Boot or any other JVM-based language or framework.

For information about specific versions, see [Java Buildpack Release Notes](TODO!!!! NO LONGER cloudfoundry/release-notes but SUpport Portal).
You can find the source for the Java buildpack in the online version of the [Java buildpack]((TODO!!!! NO LONGER github source but online zip on SUpport Portal) on the Support Portal.
Most configuration for the Java Buildpack can be found in the [OSS Readme](https://github.com/cloudfoundry/java-buildpack) on GitHub. 
For specific TAS features and advanced instructions, read along.

## Spring Boot 3.3 performance optimizations: AOT and CDS

From Spring Boot 3.3, the Java Buildpack allows you to speed up your application start-time (up to 2x faster) and save memory (up to 1.5x less memory) using AOT and CDS optimizations

### AOT enablement

### CDS training run and classes caching

### Caveats

It is currently not supported to provide custom trainign run Java options along with AOT enablement; there is an [explanation of that current limitation on Github](TODO).


## <a id='logging'></a> Buildpack and application logging

The Java buildpack only runs during the staging process, and only logs
staging information such as the downloaded components, configuration data, and work performed on your application by the buildpack.

The Java buildpack source documentation states the following:

* The Java buildpack logs all messages, regardless of severity, to
`APP-DIRECTORY/.java-buildpack.log`. The buildpack also logs messages to `$stderr`, filtered by a configured severity level.

* If the buildpack fails with an exception, the exception message is logged with
a log level of `ERROR`. The exception stack trace is logged with a log
level of `DEBUG`. This prevents users from seeing stack traces by default.

Once staging completes, the buildpack stops logging then the Loggregator handles application logging.

Your application must write to STDOUT or STDERR for its logs to be included in
the Loggregator stream.
For more information about logging, see [App Logging in <%= vars.product_short %>](../../devguide/deploy-apps/streaming-logs.html).

## <a id='bosh-trusted-cert'></a> BOSH custom trusted certificate support

Versions 3.7 and later of the Java buildpack support BOSH configured custom trusted certificates.
For more information, see [Configuring Trusted Certificates](http://bosh.io/docs/trusted-certs.html) in the BOSH documentation.

The Java buildpack pulls the contents of `/etc/ssl/certs/ca-certificates.crt` and `$CF_INSTANCE_CERT/$CF_INSTANCE_KEY` by default.

The log output for Diego Instance Identity-based `KeyStore` appears as follows:

<pre class="terminal">
Adding System Key Manager
Adding Key Manager for /etc/cf-instance-credentials/instance.key and /etc/cf-instance-credentials/instance.crt
Start watching /etc/cf-instance-credentials/instance.crt
Start watching /etc/cf-instance-credentials/instance.key
Initialized KeyManager for /etc/cf-instance-credentials/instance.key and /etc/cf-instance-credentials/instance.crt
</pre>

The log output for Diego Trusted Certificate-based `TrustStore` appears as follows:

<pre class="terminal">
Adding System Trust Manager
Adding TrustManager for /etc/ssl/certs/ca-certificates.crt
Start watching /etc/ssl/certs/ca-certificates.crt
Initialized TrustManager for /etc/ssl/certs/ca-certificates.crt
</pre>

## <a id='memory-constraints'></a> Memory constraints

The memory calculator in the Java buildpack accounts for the following memory regions:

<ul>
<li><code>-Xmx</code>: Heap</li>
<li><code>-XX:MaxMetaspaceSize</code>: Metaspace</li>
<li><code>-Xss</code>: Thread Stacks</li>
<li><code>-XX:MaxDirectMemorySize</code>: Direct Memory</li>
<li><code>-XX:ReservedCodeCacheSize</code>: Code Cache</li>
<li><code>-XX:CompressedClassSpaceSize</code>: Compressed Class Space</li>
</ul>

Most applications run if they use the Cloud Foundry default container size of 1&nbsp;G without any modifications.
However, you can configure those memory regions directly as needed.

The Java buildpack optimizes for all non-heap memory regions first and leaves the remainder for the heap.

The Java buildpack prints a histogram of the heap to the logs when the JVM encounters a terminal failure.
