---
title: Cloud Foundry Java Client Library
owner: Java
---

<strong><%= modified_date %></strong>

## <a id='introduction'></a>Introduction ##
This is a guide to using the [Cloud Foundry Java Client Library](https://github.com/cloudfoundry/cf-java-client) to manage an account on a Cloud Foundry instance.

<p class="note"><strong>Note</strong>: The 1.1.x versions of the Cloud Foundry Java Client Library work with apps using Spring 4.x, and the 1.0.x versions of the Cloud Foundry Java Client Library work with apps using Spring 3.x. Both versions are available in the <a href="https://github.com/cloudfoundry/cf-java-client">source repository</a> on GitHub.</p>

## <a id='adding-the-library'></a>Adding the Library ##

Visit the [Cloud Foundry Java Client Library](https://github.com/cloudfoundry/cf-java-client) GitHub page to obtain the correct components. 

Most projects need two dependencies: the Operations API and an implementation of the Client API. Refer to the following sections for more information about how to add the Cloud Foundry Java Client Library as dependencies to a Maven or Gradle project.

### <a id='maven'></a>Maven ###
Add the `cloudfoundry-client-reactor` dependency (formerly known as `cloudfoundry-client-spring`) to your `pom.xml` as follows:

```xml
<dependencies>
    <dependency>
        <groupId>org.cloudfoundry</groupId>
        <artifactId>cloudfoundry-client-reactor</artifactId>
        <version>2.21.0.RELEASE</version>
    </dependency>
    <dependency>
        <groupId>org.cloudfoundry</groupId>
        <artifactId>cloudfoundry-operations</artifactId>
        <version>2.21.0.RELEASE</version>
    </dependency>
    <dependency>
        <groupId>io.projectreactor</groupId>
        <artifactId>reactor-core</artifactId>
        <version>3.0.7.RELEASE</version>
    </dependency>
    <dependency>
        <groupId>io.projectreactor.ipc</groupId>
        <artifactId>reactor-netty</artifactId>
        <version>0.6.6.RELEASE</version>
    </dependency>
    ...
</dependencies>
```

The artifacts can be found in the Spring release and snapshot repositories:

```xml
<repositories>
    <repository>
        <id>spring-releases</id>
        <name>Spring Releases</name>
        <url>http://repo.spring.io/release</url>
    </repository>
    ...
</repositories>
```
```xml
<repositories>
    <repository>
        <id>spring-snapshots</id>
        <name>Spring Snapshots</name>
        <url>http://repo.spring.io/snapshot</url>
        <snapshots>
            <enabled>true</enabled>
        </snapshots>
    </repository>
    ...
</repositories>
```

### <a id='gradle'></a>Gradle ###
Add the `cloudfoundry-client-reactor` dependency to your `build.gradle` file as follows:

```
dependencies {
    compile 'org.cloudfoundry:cloudfoundry-client-reactor:2.21.0.RELEASE'
    compile 'org.cloudfoundry:cloudfoundry-operations:2.21.0.RELEASE'
    compile 'io.projectreactor:reactor-core:3.0.7.RELEASE'
    compile 'io.projectreactor.ipc:reactor-netty:0.6.6.RELEASE'
    ...
}
```

The artifacts can be found in the Spring release and snapshot repositories:

```
repositories {
    maven { url 'http://repo.spring.io/release' }
    ...
}
```
```
repositories {
    maven { url 'http://repo.spring.io/snapshot' }
    ...
}
```

## <a id='sample-code'></a>Sample Code ##
The following is a very simple sample application that connects to a Cloud Foundry instance, logs in, and displays some information about the Cloud Foundry orgs. When running the program, provide the Cloud Foundry target API endpoint, along with a valid user name and password as command-line parameters.

```java
import org.cloudfoundry.operations.DefaultCloudFoundryOperations;
import org.cloudfoundry.operations.organizations.OrganizationSummary;
import org.cloudfoundry.reactor.DefaultConnectionContext;
import org.cloudfoundry.reactor.client.ReactorCloudFoundryClient;
import org.cloudfoundry.reactor.tokenprovider.PasswordGrantTokenProvider;

import java.util.concurrent.CountDownLatch;

public final class JavaSample {

    public static void main(String[] args) {
        String target = args[0];
        String user = args[1];
        String password = args[2];

        DefaultConnectionContext connectionContext  = DefaultConnectionContext.builder()
        .apiHost(target)
        .build();
        
        PasswordGrantTokenProvider tokenProvider = PasswordGrantTokenProvider.builder()
        .password(password)
        .username(user)
        .build();
        
        ReactorCloudFoundryClient cfClient = ReactorCloudFoundryClient.builder()
        .connectionContext(connectionContext)
        .tokenProvider(tokenProvider)
        .build();
        
         DefaultCloudFoundryOperations cloudFoundryOperations = DefaultCloudFoundryOperations.builder()
        .cloudFoundryClient(cfClient)
        .build();
        
         CountDownLatch latch = new CountDownLatch(1);
         
         cloudFoundryOperations.organizations()
         .list()
         .map(OrganizationSummary::getName)
         .subscribe(System.out::println, t->{
        	 		t.printStackTrace();
        	 		latch.countDown();
         }, latch::countDown);
         
         try {
			latch.await();
		} catch (InterruptedException e) {
			e.printStackTrace();
		}
    }

}
```

For more details about the Cloud Foundry Java Client Library, visit the 
[source repository](https://github.com/cloudfoundry/cf-java-client#usage) in GitHub. 
The [CloudFoundry Client Class](https://github.com/cloudfoundry/cf-java-client/blob/master/cloudfoundry-client/src/main/java/org/cloudfoundry/client/CloudFoundryClient.java) shows the objects that you can query and inspect.

