---
title: Getting Started Deploying Java Apps
owner: Java
---



This topic provides links to additional information about getting started deploying apps using the Java buildpack. See the following topics for deployment guides specific to your app framework:

* <a href="./gsg-grails.html" class="subnav">Grails</a>
* <a href="./gsg-ratpack.html" class="subnav">Ratpack</a>
* <a href="./gsg-spring.html" class="subnav">Spring</a>