---
title: Go Buildpack
---

## <a id='buildpack'></a>About the Go Buildpack ##

For information about using and extending the Go buildpack in Cloud Foundry,
see [the go-buildpack Github repo](https://github.com/cloudfoundry/go-buildpack).

The table below below lists:

* **Resource** --- The software installed by the Cloud Foundry Go buildpack,
when appropriate.
* **Available Versions** --- The versions of each software resource that are
available from the buildpack.
* **Installed by Default** --- The version of each software resource that is
installed by default.
* **To Install a Different Version** --- How to change the buildpack to install
a different version of a software resource.

As of [version 1.3.0](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.3.0), the Go buildpack's available dependencies are:

| Resource | Available Versions | Installed by Default | To Install a Different Version |
| --------- | --------- | --------- |--------- |
| Go | <ul><li>1.4.2<li>1.4.1<li>1.3.3<li>1.3.2<li>1.2.2<li>1.2.1<li>1.1.2<li>1.1.1</ul> | 1.4.2 | Specify the version in Godeps.json |
