---
title: Go Buildpack
---

## <a id='buildpack'></a>About the Go Buildpack ##

For information about using and extending the Go buildpack in Cloud Foundry,
see [the go-buildpack Github repo](https://github.com/cloudfoundry/go-buildpack). 

The current information for the buildpack can be found at it's [Github release page](https://github.com/cloudfoundry/go-buildpack/releases).
The buildpack currently uses a default Go version of `1.4.1`. To change the default version, specify the version in `Godeps.json`.