---
title: Python Buildpack
---

## <a id='buildpack'></a>About the Python Buildpack ##

For information about using and extending the Python buildpack in Cloud Foundry,
see [the python-buildpack Github repo](https://github.com/cloudfoundry/python-buildpack).

The current information for the buildpack can be found at its [Github release page](https://github.com/cloudfoundry/python-buildpack/releases).
The buildpack currently uses a default python version of `2.7.10`. To change the default version, specify the version key in your `runtime.txt`file.
