---
title: Increased output with catch_workers_output
owner: Buildpacks
---

<strong><%= modified_date %></strong>

## <a id='buildpack'></a>Catch workers output##

If you wish to log extra information, you can configure `fpm` to catch output
and send it to the logs. This can be done by setting `catch_workers_output=yes`.
To do this in your app, create a file in the `.bp-config/php/fpm.d/` directory
specifying this option. See [configuration documentation](/buildpacks/php/gsg-php-config.html#fpm_d).

An example fixture and configuration file can be found at [fpm config example](https://github.com/cloudfoundry/php-buildpack/blob/633bc6f0c078043186673a90d9727188501a866b/cf_spec/fixtures/php_71_with_fpm_d/.bp-config/php/fpm.d/output.conf)
