---
title: PHP Buildpack
owner: Buildpacks
---

<strong><%= modified_date %></strong>

Use the PHP buildpack with PHP or HHVM runtimes.

See the following topics:

* <a href="./gsg-php-composer.html" class="subnav">Composer</a>
* <a href="./gsg-php-newrelic.html" class="subnav">New Relic</a>
* <a href="./gsg-php-config.html" class="subnav">Configuration</a>
* <a href="./gsg-php-usage.html" class="subnav">Deploying and Developing PHP Apps</a>
* <a href="./gsg-php-tips.html" class="subnav">Tips for PHP Developers</a>

You can find the source for the buildpack on GitHub:
[https://github.com/cloudfoundry/php-buildpack](https://github.com/cloudfoundry/php-buildpack)

## Buildpack Logging and Application Logging ##

The buildpack only runs during the staging process, and therefore only logs
staging information such as the downloaded components, configuration data, and work performed on your application by the buildpack.

Once staging completes, the buildpack stops logging. The Loggregator handles application logging. 

Your application must write to STDOUT or STDERR for its logs to be included in
the Loggregator stream. For more information, see the [Application Logging in Cloud Foundry](../../devguide/deploy-apps/streaming-logs.html) topic.
